.cajaBusqueda {
	display: flex;
	flex-grow: 1;
	@include media-breakpoint-down(sm) {
		max-width: calc(100% - 63px);
	}


	&__input {
		flex-grow: 1;
		border: none;
		border-top-left-radius: .5rem;
		border-bottom-left-radius: .5rem;
		padding-left: 1.5rem;
		font-size: 2rem;
		width: calc(80vw - 4rem);

		@include media-breakpoint-down(sm) {
			
			//max-width: calc(80% - 0.2rem);
			//width: calc(75vw - 4rem);
		}
	}

	&__input:focus {
		outline: none;
	}

	&__input::placeholder {
		color: $secondary;
	}

	&__button {
		width: 4.2rem;
		height: 3.8rem;
		background: $light;
		border: none;
		cursor: pointer;
		border-top-right-radius: .4rem;
		border-bottom-right-radius: .4rem;
	}

	&__button:hover {
		transition: background .2s ease;
		background: darken($light, 10%);
	}

	&__button:focus {
		outline: none;
	}
}