
$primary: rgba(255, 238, 0, 0.788);
$light: #fff;
$secondary: #999999;

$font-family-sans-serif: sans-serif;

$container-max-widths: (
	lg: 1043px,
	xl: 1242px,
);
// Navbar

//$navbar-padding-y:                  1px !default;

